In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error
import datetime
from datetime import datetime
import calendar
import os
from sklearn.preprocessing import StandardScaler

import spacy

In [ ]:
!pip install spacy

In [276]:
df = pd.read_csv('../05-RentACar/all_anonymized_2015_11_2017_03.csv', dtype={'body_type': str},  low_memory=False)

In [277]:
df.columns

Index(['maker', 'model', 'mileage', 'manufacture_year', 'engine_displacement',
       'engine_power', 'body_type', 'color_slug', 'stk_year', 'transmission',
       'door_count', 'seat_count', 'fuel_type', 'date_created',
       'date_last_seen', 'price_eur'],
      dtype='object')

In [278]:
df.shape

(3552912, 16)

In [279]:
df.head(5)

,maker,model,mileage,manufacture_year,engine_displacement,engine_power,body_type,color_slug,stk_year,transmission,door_count,seat_count,fuel_type,date_created,date_last_seen,price_eur
0,ford,galaxy,151000.0,2011.0,2000.0,103.0,NaN,NaN,None,man,5,7,diesel,2015-11-14 18:10:06.838319+00,2016-01-27 20:40:15.46361+00,10584.75
1,skoda,octavia,143476.0,2012.0,2000.0,81.0,NaN,NaN,None,man,5,5,diesel,2015-11-14 18:10:06.853411+00,2016-01-27 20:40:15.46361+00,8882.31
2,bmw,NaN,97676.0,2010.0,1995.0,85.0,NaN,NaN,None,man,5,5,diesel,2015-11-14 18:10:06.861792+00,2016-01-27 20:40:15.46361+00,12065.06
3,skoda,fabia,111970.0,2004.0,1200.0,47.0,NaN,NaN,None,man,5,5,gasoline,2015-11-14 18:10:06.872313+00,2016-01-27 20:40:15.46361+00,2960.77
4,skoda,fabia,128886.0,2004.0,1200.0,47.0,NaN,NaN,None,man,5,5,gasoline,2015-11-14 18:10:06.880335+00,2016-01-27 20:40:15.46361+00,2738.71

In [70]:
n = df.shape[0]

def unique_values(pd_series):
    uniques = pd_series.unique().shape
    nulls = df[pd_series == 0].shape[0]
    nulls_perc = nulls / n * 100
    nans = pd_series.isna().sum()
    nans_perc = nans / n * 100
    return uniques, nulls, nulls_perc, nans, nans_perc


for column in df.columns:
    pd_series = df[column]
    uniques, nulls, nulls_perc, nans, nans_perc = unique_values(pd_series)
    print(column)
    print("Number of unique values: ", uniques)
    print("Number of null values and percentage of the total: ", nulls, ", ", nulls_perc)
    print("Number of empty values and percentage of the total: ", nans, ", ", nans_perc)
    print()

maker
Number of unique values:  (47,)
Number of null values and percentage of the total:  0 ,  0.0
Number of empty values and percentage of the total:  518915 ,  14.605343447853478

model
Number of unique values:  (1013,)
Number of null values and percentage of the total:  0 ,  0.0
Number of empty values and percentage of the total:  1133361 ,  31.899495399829775

mileage
Number of unique values:  (248143,)
Number of null values and percentage of the total:  162393 ,  4.570701441521771
Number of empty values and percentage of the total:  362584 ,  10.205262612752582

manufacture_year
Number of unique values:  (1641,)
Number of null values and percentage of the total:  119 ,  0.0033493652530656544
Number of empty values and percentage of the total:  370578 ,  10.430261149164403

engine_displacement
Number of unique values:  (7273,)
Number of null values and percentage of the total:  1 ,  2.8145926496350037e-05
Number of empty values and percentage of the total:  743414 ,  20.924075800357567

engine_power
Number of unique values:  (642,)
Number of null values and percentage of the total:  0 ,  0.0
Number of empty values and percentage of the total:  554877 ,  15.617527256515217

body_type
Number of unique values:  (10,)
Number of null values and percentage of the total:  0 ,  0.0
Number of empty values and percentage of the total:  1122914 ,  31.605454905722404

color_slug
Number of unique values:  (15,)
Number of null values and percentage of the total:  0 ,  0.0
Number of empty values and percentage of the total:  3343411 ,  94.10340025308818

stk_year
Number of unique values:  (233,)
Number of null values and percentage of the total:  0 ,  0.0
Number of empty values and percentage of the total:  1708156 ,  48.07763322029929

transmission
Number of unique values:  (3,)
Number of null values and percentage of the total:  0 ,  0.0
Number of empty values and percentage of the total:  741630 ,  20.87386346748808

door_count
Number of unique values:  (20,)
Number of null values and percentage of the total:  0 ,  0.0
Number of empty values and percentage of the total:  614373 ,  17.29209729934206

seat_count
Number of unique values:  (59,)
Number of null values and percentage of the total:  0 ,  0.0
Number of empty values and percentage of the total:  749489 ,  21.095062303822893

fuel_type
Number of unique values:  (6,)
Number of null values and percentage of the total:  0 ,  0.0
Number of empty values and percentage of the total:  1847606 ,  52.002582670215304

date_created
Number of unique values:  (3552912,)
Number of null values and percentage of the total:  0 ,  0.0
Number of empty values and percentage of the total:  0 ,  0.0

date_last_seen
Number of unique values:  (3355057,)
Number of null values and percentage of the total:  0 ,  0.0
Number of empty values and percentage of the total:  0 ,  0.0

price_eur
Number of unique values:  (227305,)
Number of null values and percentage of the total:  0 ,  0.0
Number of empty values and percentage of the total:  0 ,  0.0

In [7]:
for column in df.columns:
    if column in ['date_created', 'date_last_seen']:
        pass
    else:
        pd_series = df[column]
        print(column)
        print("Unique values:")
        uniques = pd_series.unique()
        if uniques.shape[0] > 10:
            uniques = uniques[:10]
        print(*uniques)
        print()

maker
Unique values:
ford skoda bmw nan suzuki nissan opel citroen seat kia

model
Unique values:
galaxy octavia nan fabia favorit swift x-trail astra superb focus

mileage
Unique values:
151000.0 143476.0 97676.0 111970.0 128886.0 140932.0 167220.0 148500.0 105389.0 301381.0

manufacture_year
Unique values:
2011.0 2012.0 2010.0 2004.0 2003.0 2001.0 2009.0 2002.0 1998.0 2000.0

engine_displacement
Unique values:
2000.0 1995.0 1200.0 1400.0 1900.0 1360.0 1300.0 1000.0 2500.0 1700.0

engine_power
Unique values:
103.0 81.0 85.0 47.0 40.0 74.0 130.0 88.0 55.0 44.0

body_type
Unique values:
nan van compact transporter coupe convertible other sedan stationwagon offroad

color_slug
Unique values:
nan beige grey blue violet silver black white red brown

stk_year
Unique values:
None 2017 2016 2015 2018 2107 3000 6800 7900 9500

transmission
Unique values:
man auto nan

door_count
Unique values:
5 3 4 None 2 6 1 7 nan 9

seat_count
Unique values:
7 5 4 None 6 9 8 2 3 1

fuel_type
Unique values:
diesel gasoline nan lpg cng electric

price_eur
Unique values:
10584.75 8882.31 12065.06 2960.77 2738.71 1628.42 2072.54 10547.74 4293.12 1332.35

In [8]:
columns_with_more_than_45_miss = []
columns_with_more_than_0_miss = []

for column in df.columns:
    pd_series = df[column]
    nans = pd_series.isna().sum()
    nans_perc = nans / n * 100
    if 45 > nans_perc > 0:
        columns_with_more_than_0_miss.append(column)
    elif nans_perc  >= 45:
        columns_with_more_than_45_miss.append(column)

        
print(f'More than 0% miss: \n{columns_with_more_than_0_miss}')
print()
print(f'More than 45% miss: \n{columns_with_more_than_45_miss}')

More than 0% miss:
['maker', 'model', 'mileage', 'manufacture_year', 'engine_displacement', 'engine_power', 'body_type', 'transmission', 'door_count', 'seat_count']

More than 45% miss:
['color_slug', 'stk_year', 'fuel_type']

In [9]:
df[columns_with_more_than_45_miss]

        color_slug stk_year fuel_type
0              NaN     None    diesel
1              NaN     None    diesel
2              NaN     None    diesel
3              NaN     None  gasoline
4              NaN     None  gasoline
...            ...      ...       ...
3552907        NaN      NaN       NaN
3552908        NaN      NaN  electric
3552909        NaN      NaN       NaN
3552910        NaN      NaN       NaN
3552911        NaN      NaN       NaN

[3552912 rows x 3 columns]

In [38]:
df_45_nan = df[columns_with_more_than_45_miss]

In [39]:
for column in df_45_nan.columns:
    pd_series = df_45_nan[column]
    uniques, nulls, nulls_perc, nans, nans_perc = unique_values(pd_series)
    print(column)
    print("Number of unique values: ", uniques)
    print("Number of null values and percentage of the total: ", nulls, ", ", nulls_perc)
    print("Number of empty values and percentage of the total: ", nans, ", ", nans_perc)
    print()

color_slug
Number of unique values:  (15,)
Number of null values and percentage of the total:  0 ,  0.0
Number of empty values and percentage of the total:  3343411 ,  94.10340025308818

stk_year
Number of unique values:  (233,)
Number of null values and percentage of the total:  0 ,  0.0
Number of empty values and percentage of the total:  1708156 ,  48.07763322029929

fuel_type
Number of unique values:  (6,)
Number of null values and percentage of the total:  0 ,  0.0
Number of empty values and percentage of the total:  1847606 ,  52.002582670215304

## Column 'color_slug' has 94% Nan values, whereas column 'fuel_type' has 52% and column 'stk_year' has 48%

In [40]:
df.stk_year.value_counts()

None    1308651
2018     183761
2017     180675
2016     124781
2019      44209
         ...
2350          1
6049          1
5100          1
7217          1
7738          1
Name: stk_year, Length: 232, dtype: int64

In [122]:
df[df['stk_year'] == 'None']['stk_year'].count() / df.shape[0]

0.36833194855374973

In [123]:
df['stk_year'].isna().sum() / df.shape[0]

0.48077633220299293

In [124]:
df['stk_year'].isna().sum()

1708156

## We can see that in column 'stk_year' there are 36% of None values and 48% of Nan values

## Lets check amount of outliers

In [280]:
df['stk_year'] = df['stk_year'].replace({'None': 0})
df['stk_year'] = df['stk_year'].fillna(0)
df['stk_year'] = df['stk_year'].astype('int')

In [281]:
df['stk_year'].value_counts()[:20]

0       3016807
2018     183761
2017     180675
2016     124781
2019      44209
2015        869
2020        859
2021         79
3000         75
2500         59
3500         34
2600         24
2200         24
7990         23
2300         20
2800         19
8200         14
7732         14
7399         14
7900         12
Name: stk_year, dtype: int64

In [282]:
df[df['stk_year'] > 2023]['stk_year'].count()

871

In [283]:
df[(df['stk_year'] < 1950) & (df['stk_year'] > 0)]['stk_year'].count()

0

In [284]:
(df[df['stk_year'] > 2023]['stk_year'].count() / df.shape[0]) * 100

0.02451510197832088

## In column 'stk_year' we have only 871 outliers, its a very small percentage (about 0.02%)

In [285]:
df = df[df['stk_year'] < 2024]

We think that we dont need to use column 'color_slug' while clustering

In [286]:
good_columns = [col for col in df.columns if not col in['color_slug','stk_year']]

In [287]:
df = df[good_columns]

In [288]:
df.head()

,maker,model,mileage,manufacture_year,engine_displacement,engine_power,body_type,transmission,door_count,seat_count,fuel_type,date_created,date_last_seen,price_eur
0,ford,galaxy,151000.0,2011.0,2000.0,103.0,NaN,man,5,7,diesel,2015-11-14 18:10:06.838319+00,2016-01-27 20:40:15.46361+00,10584.75
1,skoda,octavia,143476.0,2012.0,2000.0,81.0,NaN,man,5,5,diesel,2015-11-14 18:10:06.853411+00,2016-01-27 20:40:15.46361+00,8882.31
2,bmw,NaN,97676.0,2010.0,1995.0,85.0,NaN,man,5,5,diesel,2015-11-14 18:10:06.861792+00,2016-01-27 20:40:15.46361+00,12065.06
3,skoda,fabia,111970.0,2004.0,1200.0,47.0,NaN,man,5,5,gasoline,2015-11-14 18:10:06.872313+00,2016-01-27 20:40:15.46361+00,2960.77
4,skoda,fabia,128886.0,2004.0,1200.0,47.0,NaN,man,5,5,gasoline,2015-11-14 18:10:06.880335+00,2016-01-27 20:40:15.46361+00,2738.71

## Data preprocessing

In [289]:
df.dtypes

maker                   object
model                   object
mileage                float64
manufacture_year       float64
engine_displacement    float64
engine_power           float64
body_type               object
transmission            object
door_count              object
seat_count              object
fuel_type               object
date_created            object
date_last_seen          object
price_eur              float64
dtype: object

In [290]:
df.isna().sum()

maker                   518751
model                  1133101
mileage                 362123
manufacture_year        370358
engine_displacement     742961
engine_power            554367
body_type              1122914
transmission            740918
door_count              613856
seat_count              748972
fuel_type              1847153
date_created                 0
date_last_seen               0
price_eur                    0
dtype: int64

In [291]:
df.maker.unique()

array(['ford', 'skoda', 'bmw', nan, 'suzuki', 'nissan', 'opel', 'citroen',
       'seat', 'kia', 'audi', 'rover', 'toyota', 'hyundai', 'fiat',
       'volvo', 'chevrolet', 'mazda', 'jeep', 'mercedes-benz', 'subaru',
       'chrysler', 'lancia', 'smart', 'honda', 'porsche', 'dodge',
       'mitsubishi', 'mini', 'jaguar', 'lexus', 'hummer', 'bentley',
       'tesla', 'maserati', 'isuzu', 'lamborghini', 'lotus', 'volkswagen',
       'peugeot', 'renault', 'alfa-romeo', 'infinity', 'rolls-royce',
       'aston-martin', 'land-rover', 'dacia'], dtype=object)

## We would like to drop NaN values in maket column, because we think there is important and we dont need to replace these values with 'other'

In [292]:
df.isna().sum()

maker                   518751
model                  1133101
mileage                 362123
manufacture_year        370358
engine_displacement     742961
engine_power            554367
body_type              1122914
transmission            740918
door_count              613856
seat_count              748972
fuel_type              1847153
date_created                 0
date_last_seen               0
price_eur                    0
dtype: int64

In [294]:
df = df.dropna(subset=['maker'])

df.model = df.model.fillna(value='other')

df['date_created'] = pd.to_datetime(df['date_created'])
df['date_last_seen'] = pd.to_datetime(df['date_last_seen'])

df['time_diff_days'] = (df['date_last_seen'] - df['date_created']).dt.days

df['time_diff_hours'] = ((df['date_last_seen'] - df['date_created']).dt.total_seconds() / 3600).astype('int')

value_median = df.manufacture_year.median()
df.manufacture_year = df.manufacture_year.fillna(value=value_median).astype('int')

value_mean = df.mileage.mean()
df.mileage = df.mileage.fillna(value=value_mean).astype('int')

value_mean = df.engine_displacement.mean()
df.engine_displacement = df.engine_displacement.fillna(value=value_mean).astype('int')

value_mean = df.engine_power.mean()
df.engine_power = df.engine_power.fillna(value=value_mean).astype('int')

df.body_type = df.body_type.fillna(value='other')

df.transmission = df.transmission.fillna('other')

df['door_count'] = df['door_count'].replace({'None': -1})
df['door_count'] = df['door_count'].fillna(-1)
df['door_count'] = df['door_count'].astype('int')

df['seat_count'] = df['seat_count'].replace({'None': -1})
df['seat_count'] = df['seat_count'].fillna(-1)
df['seat_count'] = df['seat_count'].astype('int')

df.fuel_type = df.fuel_type.fillna(value='other')

# df.color_slug = df.color_slug.fillna(value='no value')  ## may be delete this column due to 94% nan values

In [295]:
#Finding the null values in the data set
if np.any(df.isna().sum()) > 0:
    print('There are Nans in datasets')
else:
    print('All values in the dataset are non-Nan')

All values in the dataset are non-Nan

In [296]:
df[['date_created', 'date_last_seen', 'time_diff_days', 'time_diff_hours']].head(10)

,date_created,date_last_seen,time_diff_days,time_diff_hours
0,2015-11-14 18:10:06.838319+00:00,2016-01-27 20:40:15.463610+00:00,74,1778
1,2015-11-14 18:10:06.853411+00:00,2016-01-27 20:40:15.463610+00:00,74,1778
2,2015-11-14 18:10:06.861792+00:00,2016-01-27 20:40:15.463610+00:00,74,1778
3,2015-11-14 18:10:06.872313+00:00,2016-01-27 20:40:15.463610+00:00,74,1778
4,2015-11-14 18:10:06.880335+00:00,2016-01-27 20:40:15.463610+00:00,74,1778
5,2015-11-14 18:10:06.894643+00:00,2016-01-27 20:40:15.463610+00:00,74,1778
6,2015-11-14 18:10:06.915376+00:00,2016-01-27 20:40:15.463610+00:00,74,1778
7,2015-11-14 18:10:06.924123+00:00,2016-01-27 20:40:15.463610+00:00,74,1778
8,2015-11-14 18:10:06.936239+00:00,2016-01-27 20:40:15.463610+00:00,74,1778
13,2015-11-14 18:10:07.051147+00:00,2016-01-27 20:40:15.463610+00:00,74,1778

In [148]:
df['time_diff_hours'].value_counts()[:15]

0       96867
1440    68947
25      20299
1776    16772
3454    16272
1775    14574
1448    12057
2805    11518
3423    11395
2760    10898
2831    10888
1460    10881
2914    10647
2765    10577
3332    10351
Name: time_diff_hours, dtype: int64

In [149]:
len(df['time_diff_hours'].unique())

2976

In [150]:
len(df['time_diff_days'].unique())

147

## Now we are going to encode text values and make ranges of such numerical columns, where there are a lot of unique values

## We need to encode text columns

In [297]:
df.dtypes

maker                               object
model                               object
mileage                              int64
manufacture_year                     int64
engine_displacement                  int64
engine_power                         int64
body_type                           object
transmission                        object
door_count                           int64
seat_count                           int64
fuel_type                           object
date_created           datetime64[ns, UTC]
date_last_seen         datetime64[ns, UTC]
price_eur                          float64
time_diff_days                       int64
time_diff_hours                      int64
dtype: object

In [298]:
df_obj = df.select_dtypes(include='object')

In [299]:
df_obj

                 maker     model body_type transmission fuel_type
0                 ford    galaxy     other          man    diesel
1                skoda   octavia     other          man    diesel
2                  bmw     other     other          man    diesel
3                skoda     fabia     other          man  gasoline
4                skoda     fabia     other          man  gasoline
...                ...       ...       ...          ...       ...
3552907          skoda  roomster     other        other     other
3552908          skoda   felicia     other        other  electric
3552909          skoda   octavia     other        other     other
3552910          skoda     fabia     other        other     other
3552911  mercedes-benz     other     other        other     other

[3033290 rows x 5 columns]

In [304]:
for column in df_obj.columns:
    pd_series = df_obj[column]
    uniques, nulls, nulls_perc, nans, nans_perc = unique_values(pd_series)
    print(column)
    print("Number of unique values: ", uniques)
    print()

maker
Number of unique values:  (46,)

model
Number of unique values:  (1013,)

body_type
Number of unique values:  (9,)

transmission
Number of unique values:  (3,)

fuel_type
Number of unique values:  (6,)

In [268]:
df.fuel_type.value_counts()

other       1751092
gasoline     661495
diesel       586911
electric      25638
lpg            7041
cng            1113
Name: fuel_type, dtype: int64

In [301]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [308]:
cols = [col for col in df_obj.columns if col != 'model']

In [309]:
cols

['maker', 'body_type', 'transmission', 'fuel_type']

In [310]:
df_obj = df_obj[cols]

## For encoding columns we are going to use OneHotEncoder, because our value dont have any order (like fuel_type diesel is better than electric). SO not to confuse the model we would prefer OneHotEncoder

In [311]:
ohe = OneHotEncoder()
obj_cols_encoded = ohe.fit_transform(df_obj)
obj_cols_encoded_df = pd.DataFrame(obj_cols_encoded.toarray(), columns=ohe.get_feature_names(df_obj.columns))

/Users/terekhind/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [312]:
obj_cols_encoded_df.head(5)

,maker_alfa-romeo,maker_aston-martin,maker_audi,maker_bentley,maker_bmw,maker_chevrolet,maker_chrysler,maker_citroen,maker_dacia,maker_dodge,...,body_type_van,transmission_auto,transmission_man,transmission_other,fuel_type_cng,fuel_type_diesel,fuel_type_electric,fuel_type_gasoline,fuel_type_lpg,fuel_type_other
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

## For 'model' column we have more than 1000 unique values. For encoding it and not having 1500 columns we can use pre-trained GloVe word embedding model from 'spacy library'

In [313]:
df.model.value_counts()[:10]

other      614350
octavia    129500
fabia       91363
golf        91215
focus       61118
astra       58370
a3          50821
passat      50562
corsa       46466
fiesta      34897
Name: model, dtype: int64

In [165]:
! python -m spacy download en_core_web_md

Collecting en-core-web-md==3.5.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0-py3-none-any.whl (42.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.8/42.8 MB 11.4 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: spacy<3.6.0,>=3.5.0 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from en-core-web-md==3.5.0) (3.5.2)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (1.10.7)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (2.4.6)
Requirement already satisfied: pathy>=0.10.0 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (0.10.1)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (2.0.7)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (0.7.0)
Requirement already satisfied: numpy>=1.15.0 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (1.21.5)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (2.28.1)
Requirement already satisfied: jinja2 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (2.11.3)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (1.0.4)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (3.3.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (1.0.9)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (4.64.1)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (3.0.12)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (1.1.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (3.0.8)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (2.0.8)
Requirement already satisfied: thinc<8.2.0,>=8.1.8 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (8.1.10)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (5.2.1)
Requirement already satisfied: packaging>=20.0 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (21.3)
Requirement already satisfied: setuptools in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (63.4.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from packaging>=20.0->spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (3.0.9)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4->spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (4.3.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (1.26.11)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from thinc<8.2.0,>=8.1.8->spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (0.0.4)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from thinc<8.2.0,>=8.1.8->spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (0.7.9)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from typer<0.8.0,>=0.3.0->spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (8.0.4)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/terekhind/opt/anaconda3/lib/python3.9/site-packages (from jinja2->spacy<3.6.0,>=3.5.0->en-core-web-md==3.5.0) (2.0.1)
Installing collected packages: en-core-web-md
Successfully installed en-core-web-md-3.5.0
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_md')

In [163]:
import spacy

In [166]:
nlp = spacy.load("en_core_web_md")

In [314]:
df_model_only = df[['model','maker']]

In [315]:
df_model_only = df_model_only.drop_duplicates()

In [316]:
df_model_only

              model          maker
0            galaxy           ford
1           octavia          skoda
2             other            bmw
3             fabia          skoda
13          favorit          skoda
...             ...            ...
3458503  cls250-cdi  mercedes-benz
3463665   ml250-cdi  mercedes-benz
3469812        125d            bmw
3504549  glk200-cdi  mercedes-benz
3539868        760i            bmw

[1213 rows x 2 columns]

In [318]:
vectors = np.array([nlp(model).vector for model in df_model_only.model])

In [172]:
# vectors = np.array([nlp(model).vector for model in df['model']])

In [319]:
vectors

array([[-0.2007    ,  0.90223   , -3.8486    , ..., -2.5062    ,
        -2.2094    ,  1.5681    ],
       [ 4.7219    ,  3.2212    ,  4.2298    , ..., -1.8015    ,
        -2.0344    ,  1.475     ],
       [-2.2261    , -4.0504    , -3.5597    , ..., -6.9324    ,
        -3.3891    ,  1.8745    ],
       ...,
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-1.5161201 ,  1.7218    , -0.9456666 , ...,  0.99539995,
        -0.7343667 , -1.6728988 ],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]], dtype=float32)

In [320]:
df_model_only['model_array'] = list(vectors)

In [322]:
df_model_only.head(3)

     model  maker                                        model_array
0   galaxy   ford  [-0.2007, 0.90223, -3.8486, -0.41919, -0.65521...
1  octavia  skoda  [4.7219, 3.2212, 4.2298, -2.5683, -1.5045, 0.3...
2    other    bmw  [-2.2261, -4.0504, -3.5597, 0.20352, 3.4045, 4...

In [323]:
vector_cols = ['vector_'+str(i) for i in range(vectors.shape[1])]

In [324]:
df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)

/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)
/var/folders/3v/jtn2l28n5zs3r7hqrp339k900000gn/T/ipykernel_5375/577674020.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_model_only[vector_cols] = df_model_only['model_array'].apply(pd.Series)

In [327]:
df_model_only.head(2)

,model,maker,model_array,vector_0,vector_1,vector_2,vector_3,vector_4,vector_5,vector_6,...,vector_290,vector_291,vector_292,vector_293,vector_294,vector_295,vector_296,vector_297,vector_298,vector_299
0,galaxy,ford,"[-0.2007, 0.90223, -3.8486, -0.41919, -0.65521...",-0.2007,0.90223,-3.8486,-0.41919,-0.65521,1.07680,0.069484,...,1.4523,0.67317,-1.05620,4.3883,2.6743,2.7955,-1.9833,-2.5062,-2.2094,1.5681
1,octavia,skoda,"[4.7219, 3.2212, 4.2298, -2.5683, -1.5045, 0.3...",4.7219,3.22120,4.2298,-2.56830,-1.50450,0.35423,0.451620,...,4.4964,-0.89916,-0.82357,-3.2395,-0.5880,2.0603,3.5203,-1.8015,-2.0344,1.4750

In [328]:
our_columns = []
for col in df_model_only.columns:
    if col == 'model_array':
        pass
    else:
        our_columns.append(col)

In [329]:
df_model_only = df_model_only[our_columns]

In [332]:
df_model_only.head(3)

,model,maker,vector_0,vector_1,vector_2,vector_3,vector_4,vector_5,vector_6,vector_7,...,vector_290,vector_291,vector_292,vector_293,vector_294,vector_295,vector_296,vector_297,vector_298,vector_299
0,galaxy,ford,-0.2007,0.90223,-3.8486,-0.41919,-0.65521,1.07680,0.069484,-1.3384,...,1.4523,0.67317,-1.05620,4.3883,2.6743,2.79550,-1.98330,-2.5062,-2.2094,1.5681
1,octavia,skoda,4.7219,3.22120,4.2298,-2.56830,-1.50450,0.35423,0.451620,1.3794,...,4.4964,-0.89916,-0.82357,-3.2395,-0.5880,2.06030,3.52030,-1.8015,-2.0344,1.4750
2,other,bmw,-2.2261,-4.05040,-3.5597,0.20352,3.40450,4.10190,-1.577000,10.5800,...,-3.1541,-6.04740,0.27548,-3.2844,-4.1960,-0.62479,-0.17135,-6.9324,-3.3891,1.8745

In [347]:
df.head()

,maker,model,mileage,manufacture_year,engine_displacement,engine_power,body_type,transmission,door_count,seat_count,fuel_type,date_created,date_last_seen,price_eur,time_diff_days,time_diff_hours
0,ford,galaxy,151000,2011,2000,103,other,man,5,7,diesel,2015-11-14 18:10:06.838319+00:00,2016-01-27 20:40:15.463610+00:00,10584.75,74,1778
1,skoda,octavia,143476,2012,2000,81,other,man,5,5,diesel,2015-11-14 18:10:06.853411+00:00,2016-01-27 20:40:15.463610+00:00,8882.31,74,1778
2,bmw,other,97676,2010,1995,85,other,man,5,5,diesel,2015-11-14 18:10:06.861792+00:00,2016-01-27 20:40:15.463610+00:00,12065.06,74,1778
3,skoda,fabia,111970,2004,1200,47,other,man,5,5,gasoline,2015-11-14 18:10:06.872313+00:00,2016-01-27 20:40:15.463610+00:00,2960.77,74,1778
4,skoda,fabia,128886,2004,1200,47,other,man,5,5,gasoline,2015-11-14 18:10:06.880335+00:00,2016-01-27 20:40:15.463610+00:00,2738.71,74,1778

In [349]:
df.mileage.value_counts()[:20]

114426    281917
0         136241
10         88213
1          31635
100        21857
5          19051
150000     12376
15         11401
200000     10547
160000      9720
180000      9452
170000      9181
20          9148
50          8889
130000      8857
140000      8800
100000      8738
120000      8398
220000      8221
125000      7932
Name: mileage, dtype: int64

In [333]:
df_final = pd.merge(df, df_model_only, on=['maker', 'model'])

In [337]:
df_final.dtypes

maker                   object
model                   object
mileage                  int64
manufacture_year         int64
engine_displacement      int64
                        ...
vector_295             float32
vector_296             float32
vector_297             float32
vector_298             float32
vector_299             float32
Length: 316, dtype: object

In [350]:
df_final.head(3)

,maker,model,mileage,manufacture_year,engine_displacement,engine_power,body_type,transmission,door_count,seat_count,...,vector_290,vector_291,vector_292,vector_293,vector_294,vector_295,vector_296,vector_297,vector_298,vector_299
0,ford,galaxy,151000,2011,2000,103,other,man,5,7,...,1.4523,0.67317,-1.0562,4.3883,2.6743,2.7955,-1.9833,-2.5062,-2.2094,1.5681
1,ford,galaxy,160235,2012,1600,85,other,man,5,5,...,1.4523,0.67317,-1.0562,4.3883,2.6743,2.7955,-1.9833,-2.5062,-2.2094,1.5681
2,ford,galaxy,263000,1998,1998,85,other,man,5,7,...,1.4523,0.67317,-1.0562,4.3883,2.6743,2.7955,-1.9833,-2.5062,-2.2094,1.5681

## Now we are going to take only numerical columns and create ranges of values

In [352]:
df_int = df_final.select_dtypes(include='number')

In [353]:
df_int.columns

Index(['mileage', 'manufacture_year', 'engine_displacement', 'engine_power',
       'door_count', 'seat_count', 'price_eur', 'time_diff_days',
       'time_diff_hours', 'vector_0',
       ...
       'vector_290', 'vector_291', 'vector_292', 'vector_293', 'vector_294',
       'vector_295', 'vector_296', 'vector_297', 'vector_298', 'vector_299'],
      dtype='object', length=309)

In [354]:
df_int.head(3)

,mileage,manufacture_year,engine_displacement,engine_power,door_count,seat_count,price_eur,time_diff_days,time_diff_hours,vector_0,...,vector_290,vector_291,vector_292,vector_293,vector_294,vector_295,vector_296,vector_297,vector_298,vector_299
0,151000,2011,2000,103,5,7,10584.75,74,1778,-0.2007,...,1.4523,0.67317,-1.0562,4.3883,2.6743,2.7955,-1.9833,-2.5062,-2.2094,1.5681
1,160235,2012,1600,85,5,5,11102.89,74,1778,-0.2007,...,1.4523,0.67317,-1.0562,4.3883,2.6743,2.7955,-1.9833,-2.5062,-2.2094,1.5681
2,263000,1998,1998,85,5,7,740.19,74,1777,-0.2007,...,1.4523,0.67317,-1.0562,4.3883,2.6743,2.7955,-1.9833,-2.5062,-2.2094,1.5681

In [342]:
df_int.shape

(3033290, 309)

## For column 'mileage' we will create 30 equal ranges according to quantiles. 1/30 ~ 0.033. It means that group number 2 represents (2+1) * 0.033 = 0.01 or 10th quantile of whole values in this column. group 11 represents (11+1) * 0.033 = 0.396 or 39,6th quantile of values

In [358]:
len(df_int.mileage.unique())

237568

In [373]:
df_int['mileage'].value_counts()[:10]

114426    281917
0         136241
10         88213
1          31635
100        21857
5          19051
150000     12376
15         11401
200000     10547
160000      9720
Name: mileage, dtype: int64

In [398]:
np.quantile(df_int['mileage'], q=0.95)

249677.0

We

In [451]:
df_int['mileage_range'] = pd.qcut(df_int['mileage'], q=30, labels=False, duplicates='drop')

In [452]:
df_int['mileage_range'].value_counts()

15    310800
0     203896
17    105630
1     105582
13    104270
21    104158
20    102907
12    102730
10    102181
6     101911
19    101633
9     101464
25    101345
3     101296
7     101129
5     101118
24    101110
26    100874
4     100771
8     100280
11     99700
23     99514
22     97172
18     96749
14     96313
2      95114
16     93643
Name: mileage_range, dtype: int64

In [453]:
df_int[['mileage', 'mileage_range']].head(5)

   mileage  mileage_range
0   151000             19
1   160235             20
2   263000             25
3   156000             19
4   167000             20

## We are goint to create 20 ranges of 'manufacture_year' column

In [410]:
df_int.head()

,mileage,manufacture_year,engine_displacement,engine_power,door_count,seat_count,price_eur,time_diff_days,time_diff_hours,vector_0,...,vector_291,vector_292,vector_293,vector_294,vector_295,vector_296,vector_297,vector_298,vector_299,mileage_range
0,151000,2011,2000,103,5,7,10584.75,74,1778,-0.2007,...,0.67317,-1.0562,4.3883,2.6743,2.7955,-1.9833,-2.5062,-2.2094,1.5681,11
1,160235,2012,1600,85,5,5,11102.89,74,1778,-0.2007,...,0.67317,-1.0562,4.3883,2.6743,2.7955,-1.9833,-2.5062,-2.2094,1.5681,11
2,263000,1998,1998,85,5,7,740.19,74,1777,-0.2007,...,0.67317,-1.0562,4.3883,2.6743,2.7955,-1.9833,-2.5062,-2.2094,1.5681,14
3,156000,2007,1997,103,5,7,7949.67,74,1777,-0.2007,...,0.67317,-1.0562,4.3883,2.6743,2.7955,-1.9833,-2.5062,-2.2094,1.5681,11
4,167000,2012,2179,147,5,7,14796.45,74,1777,-0.2007,...,0.67317,-1.0562,4.3883,2.6743,2.7955,-1.9833,-2.5062,-2.2094,1.5681,11

In [454]:
len(df_int.manufacture_year.unique())

1560

In [416]:
df_int.manufacture_year.value_counts()[:55]

2009    424707
2015    376826
2012    214748
2011    188200
2014    170043
2013    146227
2007    139320
2008    137274
2010    136880
2006    134526
2005    124921
2016    114342
2004    110585
2003    100117
2002     90268
2001     83863
2000     76574
1999     62117
1998     45352
1997     31215
1996     20883
1995     12765
2017     10575
1994      8295
1993      5412
1992      5373
1991      4415
1990      3487
1989      2427
1988      2052
1000      1796
1987      1571
1500      1548
1986      1431
1985      1113
1984      1057
1896       967
1983       941
1980       904
1968       879
1982       809
1971       746
1972       729
1979       720
1970       720
1981       707
1200       687
1390       636
1800       606
1973       606
1965       586
1598       560
1600       553
1977       553
1966       537
Name: manufacture_year, dtype: int64

In [458]:
df_int['manufacture_year_range'] = pd.qcut(df_int['manufacture_year'], q=20, labels=False, duplicates='drop')

In [459]:
df_int[['manufacture_year','manufacture_year_range']]

         manufacture_year  manufacture_year_range
0                    2011                       9
1                    2012                      10
2                    1998                       0
3                    2007                       6
4                    2012                      10
...                   ...                     ...
3033285              2013                      11
3033286              2012                      10
3033287              2012                      10
3033288              2011                       9
3033289              2017                      14

[3033290 rows x 2 columns]

In [460]:
df_int.manufacture_year_range.value_counts()

8     424707
13    376826
9     325080
10    214748
3     210702
0     191177
2     174131
12    170043
11    146227
6     139320
1     138691
7     137274
5     134526
4     124921
14    124917
Name: manufacture_year_range, dtype: int64

## For column 'engine_displacement' we are going to create 15 ranges

In [423]:
len(df_int.engine_displacement.unique())

6272

In [464]:
df_int['engine_displacement_range'] = pd.qcut(df_int['engine_displacement'], q=15, labels=False, duplicates='drop')

In [465]:
df_int[['engine_displacement','engine_displacement_range']].head(5)

   engine_displacement  engine_displacement_range
0                 2000                          9
1                 1600                          5
2                 1998                          8
3                 1997                          8
4                 2179                         10

In [466]:
df_int.engine_displacement_range.value_counts()

9     662183
6     355662
8     237231
4     229266
11    220394
0     218039
2     217611
3     194883
1     189494
12    180488
5     173837
10    114529
7      39673
Name: engine_displacement_range, dtype: int64

## 10 ranges for 'engine_power' column

In [467]:
len(df_int.engine_power.unique())

605

In [469]:
df_int['engine_power_range'] = pd.qcut(df_int['engine_power'], q=10, labels=False, duplicates='drop')

In [470]:
df_int[['engine_power','engine_power_range']].head(5)

   engine_power  engine_power_range
0           103                   5
1            85                   3
2            85                   3
3           103                   5
4           147                   8

## For 'price_eur' column we have 30 ranges

In [471]:
len(df_int.price_eur.unique())

206262

In [472]:
df_int['price_eur_range'] = pd.qcut(df_int['price_eur'], q=30, labels=False, duplicates='drop')

In [473]:
df_int[['price_eur_range', 'price_eur']]

         price_eur_range  price_eur
0                     12   10584.75
1                     13   11102.89
2                      0     740.19
3                     10    7949.67
4                     16   14796.45
...                  ...        ...
3033285                1    1295.34
3033286                1    1295.34
3033287                1    1295.34
3033288                1    1295.34
3033289                1    1295.34

[3033290 rows x 2 columns]

In [477]:
len(df_int.time_diff_hours.unique())

2976

In [478]:
# [col for col in df_int.columns if col != 'mileage']

In [1]:
df_int_1 = df_int[[col for col in df_int.columns if col not in ['mileage', 'manufacture_year', 'engine_displacement', 'engine_power', 'price_eur']]]

NameError: name 'df_int' is not defined

In [408]:
df_int_1.head

,manufacture_year,engine_displacement,engine_power,door_count,seat_count,price_eur,time_diff_days,time_diff_hours,vector_0,vector_1,...,vector_291,vector_292,vector_293,vector_294,vector_295,vector_296,vector_297,vector_298,vector_299,mileage_range
0,2011,2000,103,5,7,10584.75,74,1778,-0.2007,0.90223,...,0.67317,-1.0562,4.3883,2.6743,2.7955,-1.9833,-2.5062,-2.2094,1.5681,11
1,2012,1600,85,5,5,11102.89,74,1778,-0.2007,0.90223,...,0.67317,-1.0562,4.3883,2.6743,2.7955,-1.9833,-2.5062,-2.2094,1.5681,11
2,1998,1998,85,5,7,740.19,74,1777,-0.2007,0.90223,...,0.67317,-1.0562,4.3883,2.6743,2.7955,-1.9833,-2.5062,-2.2094,1.5681,14
3,2007,1997,103,5,7,7949.67,74,1777,-0.2007,0.90223,...,0.67317,-1.0562,4.3883,2.6743,2.7955,-1.9833,-2.5062,-2.2094,1.5681,11
4,2012,2179,147,5,7,14796.45,74,1777,-0.2007,0.90223,...,0.67317,-1.0562,4.3883,2.6743,2.7955,-1.9833,-2.5062,-2.2094,1.5681,11

In [351]:
obj_cols_encoded_df.head(3)

,maker_alfa-romeo,maker_aston-martin,maker_audi,maker_bentley,maker_bmw,maker_chevrolet,maker_chrysler,maker_citroen,maker_dacia,maker_dodge,...,body_type_van,transmission_auto,transmission_man,transmission_other,fuel_type_cng,fuel_type_diesel,fuel_type_electric,fuel_type_gasoline,fuel_type_lpg,fuel_type_other
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [343]:
df_encoded = pd.concat([obj_cols_encoded_df, df_int], axis=1)

In [345]:
df_encoded.columns

Index(['maker_alfa-romeo', 'maker_aston-martin', 'maker_audi', 'maker_bentley',
       'maker_bmw', 'maker_chevrolet', 'maker_chrysler', 'maker_citroen',
       'maker_dacia', 'maker_dodge',
       ...
       'vector_290', 'vector_291', 'vector_292', 'vector_293', 'vector_294',
       'vector_295', 'vector_296', 'vector_297', 'vector_298', 'vector_299'],
      dtype='object', length=373)

In [346]:
df_encoded.shape

(3033290, 373)

In [241]:
scaler = StandardScaler()

In [242]:
df_final.dtypes

maker                   object
model                   object
mileage                  int64
manufacture_year         int64
engine_displacement      int64
                        ...
vector_295             float32
vector_296             float32
vector_297             float32
vector_298             float32
vector_299             float32
Length: 316, dtype: object

In [248]:
df_int.shape

(3033290, 309)

In [253]:
scaled_features = scaler.fit_transform(df_int)

In [254]:
scaled_features

array([[ 0.11773583,  0.11590402, -0.01789608, ..., -0.25783421,
        -0.26218437,  0.37144227],
       [ 0.14746473,  0.12924174, -0.25559234, ..., -0.25783421,
        -0.26218437,  0.37144227],
       [ 0.47828119, -0.05748625, -0.01908456, ..., -0.25783421,
        -0.26218437,  0.37144227],
       ...,
       [ 0.11451668,  0.12924174, -0.02086729, ...,  0.41460366,
         0.69127844, -0.42404317],
       [-0.36790589,  0.11590402,  0.06708033, ...,  0.68167915,
         0.37436373, -1.27269227],
       [-0.36191826,  0.1959303 ,  2.71085698, ...,  0.41460366,
         0.69127844, -0.42404317]])

In [75]:
df = df[df.door_count < 10]

TypeError: '<' not supported between instances of 'str' and 'int'

In [73]:
df.stk_year.value_counts()[:15]

None    1308651
2018     183761
2017     180675
2016     124781
2019      44209
2015        869
2020        859
2021         79
3000         75
2500         59
3500         34
2600         24
2200         24
7990         23
2300         20
Name: stk_year, dtype: int64

In [74]:
df.door_count.value_counts()[:15]

4       1130741
5        894084
0        614373
None     475693
2        307824
3        120593
0          8010
6          1253
1           273
7            43
55            9
9             4
8             3
58            3
54            1
Name: door_count, dtype: int64

In [32]:
columns_with_more_than_40_miss = []
columns_with_more_than_0_miss = []

for column in df.columns:
    pd_series = df[column]
    nans = pd_series.isnull().sum()
    nans_perc = nans / n * 100
    if nans_perc > 0:
        columns_with_more_than_0_miss.append(column)
    elif nans_perc  > 90:
        columns_with_more_than_40_miss.append(column)

        
print(f'More than 0% miss: \n{columns_with_more_than_0_miss}')
print()
print(f'More than 40% miss: \n{columns_with_more_than_40_miss}')

More than 0% miss:
['maker', 'model', 'mileage', 'manufacture_year', 'engine_displacement', 'engine_power', 'body_type', 'color_slug', 'stk_year', 'transmission', 'door_count', 'seat_count', 'fuel_type']

More than 40% miss:
[]

## For clusterization we will work with K-means and agglomerative clustering algorithms. Both algorithms are designed to work only with numerical values, so we need to make encoding for nonnumerical values. This is because they are distance-based clustering algorithms, meaning they rely on calculating distances between data points to determine their similarity or dissimilarity

## Clusterization

For clusterization we will use Kmeans and Agglomerative clustering algorithms. For evaluation the accuracy of algorithms we will use silhoue score.

We will consider number of clusters from 2 to 20 and compare silhoue score. After that it will be possible to say what algorithm and what number of clusters is optimal for clustering the cars based on their various attributes.

The silhouette score is a measure of cluster cohesion and separation. It quantifies how well a data point fits into its assigned cluster based on two factors:

1) How close the data point is to other points in the cluster 
2) How far away the data point is from points in other clusters

In [251]:
from sklearn.cluster import KMeans, AgglomerativeClustering
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler

In [252]:
k_list = []
kmean_scores = []
agglo_scores = []

In [ ]:
scaler = StandardScaler()
scaled_features = scaler.fit_transform(features)

In [256]:
n_clusters = 5

In [257]:
# k_list.append(j)
# Implementation for Kmeans
kmeans = KMeans(n_clusters=n_clusters, random_state=0)
kmeans.fit_predict(scaled_features)
# df_final_kmeans = pd.DataFrame()
# df_final_kmeans['cluster_id'] = kmeans.labels_
# df_final_kmeans['method_name'] = methods
labels_kmeans = kmeans.labels_
kmean_scores.append(silhouette_score(scaled_features, labels_kmeans, metric='euclidean'))


# # Implementation for Agglo
# cluster = AgglomerativeClustering(n_clusters=n_clusters)
# cluster.fit_predict(scaled_features)
# # df_final_agglo = pd.DataFrame()
# # df_final_agglo['cluster_id'] = cluster.labels_
# # df_final_agglo['method_name'] = methods
# labels_agglo = cluster.labels_
# agglo_scores.append(silhouette_score(scaled_features, labels_agglo, metric='euclidean'))

KeyboardInterrupt:

In [ ]:
kmean_scores

In [ ]:
for j in range(2, 20):
    n_clusters = j
    k_list.append(j)
    # Implementation for Kmeans
    kmeans = KMeans(n_clusters=n_clusters, random_state=0)
    kmeans.fit_predict(scaled_features)
    # df_final_kmeans = pd.DataFrame()
    # df_final_kmeans['cluster_id'] = kmeans.labels_
    # df_final_kmeans['method_name'] = methods
    labels_kmeans = kmeans.labels_
    kmean_scores.append(silhouette_score(scaled_features, labels_kmeans, metric='euclidean'))


    # Implementation for Agglo
    cluster = AgglomerativeClustering(n_clusters=n_clusters)
    cluster.fit_predict(scaled_features)
    # df_final_agglo = pd.DataFrame()
    # df_final_agglo['cluster_id'] = cluster.labels_
    # df_final_agglo['method_name'] = methods
    labels_agglo = cluster.labels_
    agglo_scores.append(silhouette_score(scaled_features, labels_agglo, metric='euclidean'))

In [ ]:
final_df = pd.DataFrame()
final_df['K'] = k_list
final_df['K_mean'] = kmean_scores
final_df['Agglo'] = agglo_scores

Also we would like to plot Silhoue scores for Kmeans and Agglomerative clustering algorithms.

In [ ]:
plt.style.use("fivethirtyeight")
plt.plot(range(2, 20), kmean_scores, label = 'Kmeans')
plt.plot(range(2, 20), agglo_scores, label = "Agglomerative")
plt.xticks(range(2, 20))
plt.xlabel("Number of Clusters")
plt.ylabel("Silhouette Coefficient")
plt.show()